body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.colorBtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid #6b0703;
    border-radius: 7px;
    color: #1e0c3b;
    background: rgba(50,50,50,0.6);
    font-size: 0.85rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.colorBtn:hover{
    background: rgb(34, 150, 170);
}